@{
    ViewData["Title"] = "Over Ons";
}


<div class="container">
    <h3 class="display-4">@ViewData["Title"]</h3>
    <p class="lead">Op deze pagina proberen we in enkele zinnen samen te vatten wat je met en op 
        deze website kan doen en beleven.</p>
    <ul>
        <li>
            Ten eerste kan je op de homepage terecht om een heleboel bordspellen te leren kennen en indien gewenst er
            info over raadplegen.
        </li>
        <li>
            Als je je registeert als gebruiker kan je een stapje verder gaan door deze spellen toe te voegen aan je 
            persoonlijke collectie.
        </li>
        <li>
            Tot slot kan je ook admin worden waarmee je zelf spellen kan toevoegen aan de databank. Daarnaast kan je 
            ook personen en uitgeverijen toevoegen aan de databank en deze via uitgave en bordspelpersoon koppelen 
            aan een spel.
        </li>
        <li>
            Als gebruiker (admin of user) kan je uiteraard ook je persoonlijke gegeven aanpassen en raadplegen via 
            admin-gebruikers.
        </li>
    </ul>
    <p class="lead">We wensen u alvast veel plezier op deze website</p>
</div>