@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container">
    <h3 class="display-4">@ViewData["Title"]</h3>

    <h5>Over ons privacybeleid</h5>
    <p>
        BordspelWebApp geeft veel om uw privacy. Wij verwerken daarom uitsluitend gegevens die wij nodig hebben voor
        (het verbeteren van) onze dienstverlening en gaan zorgvuldig om met de informatie die wij over u en uw gebruik van
        onze diensten hebben verzameld. Wij stellen uw gegevens nooit voor commerciële doelstellingen ter beschikking aan
        derden.
    </p>
    <p>
        <b>Cookies</b>
    </p>
    <p>
        In het geval dat softwareoplossingen van derde partijen gebruik maken van cookies is dit vermeld in deze
        privacyverklaring.
    </p>
    <p>
        <b>Contactgegevens</b>
    </p>
    BordspelWebApp </br>
    Antwerpsestraat 99 </br>
    2500 Lier </br>
    België </br>
    </p>
    <p>
        <a href="mailto:r0858823@student.thomasmore.be">r0858823@student.thomasmore.be</a>
    </p>
    <p>
        Contactpersoon voor privacyzaken : Jan-Christiaan Gilliams
    </p>

</div>
