@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Paswoord vergeten?";
}

<div class=" container">
    <div class="row">
        <div class="col">
            <h3 class="display-4">@ViewData["Title"]</h3>
            <h5>Geef je emailadres.</h5>
            <hr />
        </div>
    </div>
    <div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
            <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
                <button type="submit" class="btn btn-outline-info" asp-page="./Home/Index">Verstuur</button>
    </form>
    </div>
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
