@page
@model RegisterModel
@{
    ViewData["Title"] = "Registreren";
}

<div class=" container">
    <div class="row">
        <div class="col">
            <h3 class="display-4">@ViewData["Title"]</h3>
            <h5>Maak een nieuwe account aan.</h5>
            <hr />
        </div>
    </div>
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="row">
        <div class="col">                          
            <div class="form-group">
                <label asp-for="Input.Naam"></label>
                <input asp-for="Input.Naam" class="form-control" />
                    <span asp-validation-for="Input.Naam" class="text-danger" style="font-size:small"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Voornaam"></label>
                <input asp-for="Input.Voornaam" class="form-control" />
                <span asp-validation-for="Input.Voornaam" class="text-danger" style="font-size:small"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger" style="font-size:small"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Input.Password">Paswoord</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger" style="font-size:small"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword">Bevestig paswoord</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger" style="font-size:small"></span>
            </div>
        </div>
    </div>
        <button type="submit" class="btn btn-outline-info">Registreer</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
