<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BordspelWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/bordspelwebapp.css" />
</head>
<body class="bodyBG">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-custom bg-primary">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/images/dice.png" width="40" height="30" alt="dice">
                    BordspelWebApp
                </a>
                <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarCustom">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Bordspellen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Collectie" asp-action="Index">Mijn collectie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="OverOns">Over ons</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Admin </a>
                            <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="Admin" asp-action="Bordspelbeheer">Bordspelbeheer</a>
                                <hr style="margin: 3px 0" />
                                <a class="dropdown-item" asp-controller="AdminBordspelPersoon" asp-action="BordspelPersonen">BordspelPersonen</a>
                                <a class="dropdown-item" asp-controller="AdminUitgave" asp-action="Uitgaves">Uitgaves</a>
                                <hr style="margin: 3px 0" />
                                <a class="dropdown-item" asp-controller="AdminPersoon" asp-action="Personen">Personen</a>
                                <a class="dropdown-item" asp-controller="AdminUitgeverij" asp-action="Uitgeverijen">Uitgeverijen</a>
                                <hr style="margin: 3px 0" />
                                <a class="dropdown-item" asp-controller="AdminGebruiker" asp-action="Gebruikers">Gebruikers</a>
                            </div>
                        </li>                        
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 bodyTekstkleur">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid bg-primary footerTekst">
            &copy; 2022 - BordspelWebApp - <a class="bodyTekstkleur" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
