@using BordspelWebApp.Areas.Data
@using Microsoft.AspNetCore.Identity

@inject SignInManager<Gebruiker> SignInManager
@inject UserManager<Gebruiker> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item bodyTekstkleur">
        <a id="manage" class="nav-link bodyTekstkleur" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hallo @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link bodyTekstkleur">Uitloggen</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link bodyTekstkleur" id="register" asp-area="Identity" asp-page="/Account/Register">Registreren</a>
    </li>
    <li class="nav-item">
        <a class="nav-link bodyTekstkleur" id="login" asp-area="Identity" asp-page="/Account/Login">Inloggen</a>
    </li>
}
</ul>