@model BordspelWebApp.ViewModels.Lists.ListUitgeverijenBeheerViewModel

@{
    ViewData["Title"] = "UitgeverijenBeheer";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h3 class="display-4">@ViewData["Title"]</h3>
        </div>
        <div class="col-6 align-self-center" style="display:flex; justify-content:end">
            <a asp-controller="AdminUitgeverij" asp-action="CreateUitgeverij" class="bodyBG">Maak nieuwe uitgeverij aan</a>
        </div>
        <table class="table table-bordered table-striped">
            <tbody>
                @foreach (var uitgeverij in Model.Uitgeverijen)
                {
                    <tr>
                        <td class="col-md-6 align-middle">
                            @Html.DisplayFor(modelItem => uitgeverij.Naam)
                        </td>
                        <td class="col-md-3 align-middle">
                            <a asp-action="EditUitgeverij" asp-route-id="@uitgeverij.Id">Aanpassen</a>
                        </td>
                        <td class="col-md-3 align-middle">
                            <a asp-action="DeleteUitgeverij" asp-route-id="@uitgeverij.Id">Verwijderen</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
