@model BordspelWebApp.ViewModels.Delete.DeleteUitgaveViewModel
@{
    ViewData["Title"] = "Verwijder uitgave";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="display-4">@ViewData["Title"]</h3>
            <p class="lead">
                Op deze pagina kan je een uitgeverij weghalen van een bordspel.
            </p>
            <p>Ben je zeker dat je wil verwijderen?</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Verwijder" class="btn btn-outline-info" />
            </form>
        </div>
    </div>
    <a asp-action="Uitgaves" class="bodyBG">Terug naar de lijst</a>
