@model BordspelWebApp.ViewModels.Lists.ListBordspelBeheerViewModel

@{
    ViewData["Title"] = "BordspelBeheer";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h3 class="display-4">@ViewData["Title"]</h3>
        </div>
        <div class="col-6 align-self-center" style="display:flex; justify-content:end">
            <a asp-controller="Admin" asp-action="CreateBordspel" class="bodyBG">Maak nieuw bordspel aan</a>
        </div>
        <table class="table table-bordered table-striped">
            <tbody>
                @foreach (var bordspel in Model.Bordspellen)
                {
                    <tr>
                        <td class="col-md-6 align-middle">
                            @Html.DisplayFor(modelItem => bordspel.Naam)
                        </td>
                        <td class="col-md-3 align-middle">
                            <a asp-action="EditBordspel" asp-route-id="@bordspel.Id">Aanpassen</a>
                        </td>
                        <td class="col-md-3 align-middle">
                            <a asp-action="DeleteBordspel" asp-route-id="@bordspel.Id">Verwijderen</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
